.series {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.series_list{
    height: 93%;
    width: 100%;
    overflow-y: scroll;
    padding: 25px 100px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
}

img{
    width: 100%;
}
.loader {
    padding: 25px 100px;
}
.error{
    padding: 25px 100px;
}
@media only screen and (max-width: 1020px) {
    .series_list {
        grid-template-columns: repeat(4, 1fr);
    padding: 25px 50px;
    }
}

@media only screen and (max-width: 768px) {
    .series_list {
        grid-template-columns: repeat(2, 1fr);
    padding: 25px 25px;
    }
}